#html,body{
	height:100%;
	margin:0;
}

#main{
  transition:all 150ms linear;
  background-image:url(../img/Background.jpg);
  background-size:cover;
  height:100%;
  margin:0;
}

#heading_holder{
  transition:all 150ms linear;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-style:italic;
  text-align:center;
  font-size:50px;
  padding-top:10px;
  width:100%;
}
#heading_holder.sidebarOpenMain{
  padding-left:+100px;
}

#map{
  width:80%;
  height:400px;
  margin-left:250px;
}
#map.sidebarOpenMain{
  margin-left:0;
}
