#html,body{
	height:100%;
	margin:0;
}

#main{
  transition:all 150ms linear;
  height:100%;
}

#heading_holder{
  border-style: solid;
  border-color:black;
  border-width:4px;
  background-color:white;
  padding:4px;
  transition:all 150ms linear;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-style:italic;
  font-size:40px;
  position:absolute;
  left:31%;
  z-index:100;  
}
#heading_holder.sidebarOpenMain{
  left:41%;
}

#map{
  width:100%;
}
#map.sidebarOpenMain{
  transition:all 150ms linear;
  left:+250;
}
