#html,body{
	height:100%;
	margin:0;
}

#main{
  transition:all 150ms linear;
  height:100%;
}

#heading_holder{
  border-style: solid;
  border-color:black;
  border-width:4px;
  background-color:white;
  padding:4px;
  top:10px;
  transition:all 150ms linear;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-style:italic;
  font-size:25px;
  position:absolute;
<<<<<<< HEAD
  left:31%;
  z-index:100;
  top: 10px;
=======
  left:37%;
  z-index:100;  
>>>>>>> 74a027e4126f500aa62a98bd954940775df816d3
}
#heading_holder.sidebarOpenMain{
  left:42%;
}

#map{
  width:100%;
}
#map.sidebarOpenMain{
  transition:all 150ms linear;
  left:+250;
}
